RemoteSystemsTempFiles
/nbproject/*
.bash_history
.bash_logout
.bash_profile
.bashrc
.composer/
.ssh/
.viminfo
.buildpath
.settings
.dropbox
.htaccess
.metadata
.DS_Store
._.DS_Store
init/config.ini

# Project cache files
admin/webapp/cache/*
api/webapp/cache/*
provider/webapp/cache/*
family/webapp/cache/*
care/webapp/cache/*

# Project lib/composer files
api/webapp/lib/Ficus
provider/webapp/lib/Ficus
care/webapp/lib/Ficus
family/webapp/lib/Ficus
admin/webapp/lib/composer.lock
admin/webapp/lib/vendor/composer/
admin/webapp/lib/vendor
api/webapp/lib/vendor
provider/webapp/lib/vendor
family/webapp/lib/vendor
care/webapp/lib/vendor

# mojavi config files
admin/webapp/config.php
admin/webapp/config/databases.ini
admin/webapp/config/factories.ini
admin/webapp/config/logging.ini
admin/webapp/config/settings.ini
api/webapp/config.php
api/webapp/config/databases.ini
api/webapp/config/factories.ini
api/webapp/config/logging.ini
api/webapp/config/settings.ini
provider/webapp/config.php
provider/webapp/config/databases.ini
provider/webapp/config/factories.ini
provider/webapp/config/logging.ini
provider/webapp/config/settings.ini
care/webapp/config.php
care/webapp/config/databases.ini
care/webapp/config/factories.ini
care/webapp/config/logging.ini
care/webapp/config/settings.ini
family/webapp/config.php
family/webapp/config/databases.ini
family/webapp/config/factories.ini
family/webapp/config/logging.ini
family/webapp/config/settings.ini

# bower and npm files
admin/theme/bower_components
admin/theme/node_modules
provider/theme/bower_components
provider/theme/node_modules
care/theme/bower_components
care/theme/node_modules
family/theme/bower_components
family/theme/node_modules
